*{
  margin: 0;
  padding: 0;
}
.heading{
  position: sticky;
  background-color: black;
 top: 0;
 margin-top: 10px;
 padding-bottom: 5px;
}
.main-class{
 
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width: 100%;
 
}
.main-class::before{
  content: "";
  position: absolute;
  background:url(./todoimg.jpeg) no-repeat center center/cover;
  height:100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.3;
}
.centre-class{
  /* border: 5px solid rgb(0, 253, 0); */
  border-radius: 2px;
  background-color: black;
  box-shadow: 0px 0px 15px rgb(20, 188, 200),0px 0px 10px rgb(143, 245, 0),0px 0px 15px yellow;
  color: white;
  height: 50vh;
  width: 25%;
text-align: center;
overflow-y:scroll;

/* opacity: 0.9; */


  
}
input{
  margin-top: 50px;
 outline: none;
 border: none;
 color: white;
 border-bottom: 5px solid yellow ;
 text-align: center;
 padding: 2px;
 background-color: black;
}
.add-btn{
  margin-left: 10px;
  width: 25px;
  height: 25px;
  font-size: large;
  font-weight: bolder;
  background-color: yellow;
  border: none;
  cursor: pointer;
}
.add-btn:hover{
  background-color: rgb(36, 235, 36);
  color: white;
}
ol{
  display: flex;
  justify-content:flex-start;
  list-style: none;
  margin-left: 70px;
  margin-top: 20px;
}
.del-btn{
  margin-right: 15px;
  background-color: red;
  border: none;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  color: white;
  font-weight: bolder;
}